{% extends 'master' %}

{% block content %}
<h1>{{ department.name }} osztály szerkesztése</h1>

{% if old('errors') %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for error in old('errors') %}
    <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form class="form-horizontal" action="/department/{{ department.id }}/edit" method="POST">
  {{ csrfField }}
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Új név</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="name" value="{{ department.name }}">
    </div>
  </div>
  
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Módosítás mentése</button>
      <a class="btn btn-default" href="/departments" role="button">Vissza</a>
    </div>
  </div>
</form>

{% endblock %}